<% provide :title, t("layout.header_partial.help") %>
<h1><%= t("layout.header_partial.help") %></h1>
<p> <%= t(".description") %>
    <a href="http://www.railstutorial.org/help/" target ="_blank" > <%= t(".help_page") %></a>.
    <%= t(".help_description") %>
    <a href = "http://www.railstutorial.org/book" target = "_blank" >
        <em><%= t(".book") %></em>.
    </a>
</p>
