<% provide :title, t("layout.header_partial.help") %>
<h1><%= t("layout.header_partial.help") %></h1>
<p> <%= t("static_page.help.description") %>
    <a href="http://www.railstutorial.org/help/" target ="_blank" > <%= t("static_page.help.help_page") %></a>.
    <%= t("static_page.help.help_description") %>
    <a href = "http://www.railstutorial.org/book" target = "_blank" >
        <em><%= t("static_page.help.book") %></em>.
    </a>
</p>
