<%= provide :title, @user.name%>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
            <p><strong><%= t("user.show.created_date")%>:</strong> <%= l @user.created_at, format: :long %></p>
            <p><strong><%= t("user.show.updated_date") %>:</strong> <%= l @user.updated_at, format: :long %></p>
        </section>
    </aside>
</div>
